* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    right: 0;
    top: 0; /* Ensure it starts at the top */
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
    justify-content: space-between;
    padding: 10px 9%; /* Adjust padding to create space from top */
    background: transparent;
}

body {
    background: rgb(244, 239, 239);
}

.navlist {
    display: flex;
    margin-left: auto;
    position: absolute; /* Allows for absolute positioning */
    top: 30px; 
    right: 40px; 
}

.navlist a {
    color: rgb(0, 102, 68);
    margin-left: 50px;
    font-size: 15px;
    font-weight: 450;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover {
    border-bottom: 2px solid green;
}

#menu-icon {
    color: black;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0; 
    right: 0;  
    margin: 10px;
}

.csn {
    height: 100%;
    width: 95%;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 10%;
}

.csn-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: #037101;
    margin-bottom: 3px;
}

.csn-text h1 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    color: #f1c232;
    margin-bottom: 3px;
}

.csn-logo img {
    width: 500px;
    height: auto;
}

.csn-text p {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 40px;
}

.csn-text a {
    display: inline-block;
    color: white;
    background: #069460;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.csn-text a:hover {
    background: transparent;
    color: #069460;
    border: 2px solid green;
    transform: translateX(8px);
}

@media (max-width: 1535px) {
    header {
        padding: 0 3%;
        transition: .2s;
    }
}

@media (max-width: 1460px) {
    section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .csn-logo img {
        width: 100%;
        height: auto;
    }

    .csn-text h1 {
        font-size: 25px;
        margin: 0 0 30px;
    }

    .csn-text h4 {
        margin-bottom: 12px;
    }
}

@media (max-width: 1195px) {
    section {
        padding: 0 3%;
        transition: .2s;
    }

    .csn-text {
        padding-top: 25px;
    }

    .csn-logo {
        padding-top: 20px;
        text-align: center;
    }

    .csn-logo img {
        width: 560px;
        height: auto;
    }

    .csn {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #beebbd;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }

    .navlist a {
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }

    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px) {
    .csn-logo img {
        width: 200px;
        height: auto;
    }

    .csn-text {
        padding-top: 25px;
    }

    .csn-text a {
        padding-top: 10px;
        margin: 10px 0;
        display: center;
    }
}
