* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #00bfb3;
  color: white;
  padding: 20px;
}

.main-container {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 90vh;
  flex-direction: column;
}

.personal-data-section, .change-password-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.personal-data-form, .password-form {
  display: grid;
  gap: 15px;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 5px;
}

.input-group input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.save-btn {
  background-color: #00bfb3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.save-btn:hover {
  background-color: #009688;
}